<div class="container clearfix">
  <h1 class="title">VanStrydonck Mediation</h1>
  <div class="sidebar clearfix">
    <h3 class="bio nav-link">About Us</h3>
    <h3 class="services nav-link">Services</h3>
    <h3 class="rates nav-link">Rates</h3>
    <h3 class="contact nav-link">Contact</h3>
  </div>
</div>
<div class="dad bio-container dad-1"></div>
<div class="dad small-sidebar dad-2">
  <img class="image dad" src="images/dad_sq.png">
  <h3 class="name">Thomas VanStrydonck</h3>
  <div class="factoids clearfix">
    <h4 class="factoid factoid-1">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
    <h4 class="factoid factoid-2">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
  </div>
</div>
<div class="dad bio dad-4">
  <p>Est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est. Et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut! Quod ii legunt saepius claritas notare quam littera gothica quam nunc putamus parum claram! Liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat. Est usus legentis in iis qui facit eorum.</p>
  <p>Claritatem insitam est usus legentis in iis qui facit eorum claritatem Investigationes demonstraverunt lectores legere. Hendrerit in vulputate velit esse molestie consequat vel illum; dolore eu feugiat nulla.</p>
  <p>Eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim. Quinta decima eodem modo typi qui nunc nobis videntur parum, clari fiant sollemnes. Nam liber tempor cum soluta nobis assum typi. Nulla facilisis at vero eros et accumsan et iusto odio dignissim qui. Eum iriure dolor in hendrerit in vulputate velit esse. Etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est. Claritatem Investigationes demonstraverunt lectores legere me lius, quod ii legunt.</p>
</div>
<div class="divider"></div>
<div class="uncle-gerry bio-container uncle-gerry-1"></div>
<div class="uncle-gerry small-sidebar uncle-gerry-2 clearfix">
  <img class="image _image" src="images/uncle_gerry.jpg">
  <h3 class="name">Gerald E. VanStrydonck</h3>
  <div class="factoids clearfix">
    <h4 class="factoid factoid-3">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
    <h4 class="factoid factoid-4">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
  </div>
</div>
<div class="uncle-gerry bio uncle-gerry-3">
  <p>&nbsp;    <p>Est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est. Et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut! Quod ii legunt saepius claritas notare quam littera gothica quam nunc putamus parum claram! Liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat. Est usus legentis in iis qui facit eorum.</p>
  <p>Claritatem insitam est usus legentis in iis qui facit eorum claritatem Investigationes demonstraverunt lectores legere. Hendrerit in vulputate velit esse molestie consequat vel illum; dolore eu feugiat nulla.</p>
  <p>Eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim. Quinta decima eodem modo typi qui nunc nobis videntur parum, clari fiant sollemnes. Nam liber tempor cum soluta nobis assum typi. Nulla facilisis at vero eros et accumsan et iusto odio dignissim qui. Eum iriure dolor in hendrerit in vulputate velit esse. Etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est. Claritatem Investigationes demonstraverunt lectores legere me lius, quod ii legunt.</p>
</div>