<div class="container _container clearfix">
  <h1 class="title">
    <a class="title-link" href="/">VanStrydonck Mediation</a>
  </h1>
  <div class="sidebar clearfix">
    <h3 class="bio nav-link">
      <a class="about-link" href="/about">About Us</a>
    </h3>
    <h3 class="services nav-link">
      <a class="services-link" href="/services">Services</a>
    </h3>
    <h3 class="rates nav-link">
      <a class="rates-link" href="/rates">Rates</a>
    </h3>
    <h3 class="contact nav-link">
      <a class="contact-link active" href="/contact">Contact</a>
    </h3>
  <div class="contact-container">
    <h2 class="page-title">Contact Us</h2>
    <form id="contactform" action="/contact" method="post">
      <input class="form-name" type="text" name="contact[name]" placeholder="Name">  
      <input class="form-email" type="email" name="contact[email]" placeholder="Email">
      <input class="form-phone" type="text" name="contact[phone]" placeholder="Phone">
      <div class="radio-group">
        <p class="preferred">Preferred Method of Contact :</p>
        <input class="radio email" type="radio" name="contact[preferred]" value="email">
        <input class="radio phone" type="radio" name="contact[preferred]" value="phone">
      </div>
      <textarea class="form-message" name="contact[message]" form="contactform" placeholder="Brief Description of Situation"></textarea>
      <input class="button" type="submit" value="Submit Message">
    </form>
    <div for="phone" class="phone-label">Phone</div>
    <div for="email" class="email-label">Email</div>
  </div>
</div>
