<div class="container _container clearfix">
  <h1 class="title">VanStrydonck Mediation</h1>
  <div class="sidebar clearfix">
    <h3 class="bio nav-link">
      <a class="about-link" href="/about">About Us</a>
    </h3>
    <h3 class="services nav-link">
      <a class="services-link" href="/services">Services</a>
    </h3>
    <h3 class="rates nav-link">
      <a class="rates-link" href="/rates">Rates</a>
    </h3>
    <h3 class="contact nav-link">
      <a class="contact-link" href="/contact">Contact</a>
    </h3>
  <div class="gerry container gerry-1 clearfix">
    <img class="gerry gerry-2" src="images/uncle_gerry.jpg">
    <h3 class="gerry name">Gerald E. VanStrydonck</h3>
    <div class="gerry facts clearfix">
      <h4 class="fact">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
      <h4 class="fact fact-2">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
      <h4 class="fact fact-3">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
    </div>
  </div>
  <div class="thomas container thomas-1 clearfix">
    <img class="thomas thomas-2" src="images/dad_sq.png">
    <h3 class="thomas name">Thomas VanStrydonck</h3>
    <div class="thomas facts clearfix">
      <h4 class="fact">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
      <h4 class="fact fact-5">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
      <h4 class="fact fact-6">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
    </div>
  </div>
</div>