<body class="body index clearfix">  
  <div class="container _container clearfix">
    <div><%= @gmail %></div>
    <h1 class="title">VanStrydonck Mediation</h1>
    <div class="sidebar clearfix">
      <h3 class="bio nav-link">About Us</h3>
      <h3 class="services nav-link">Services</h3>
      <h3 class="rates nav-link">Rates</h3>
      <h3 class="contact nav-link">Contact</h3>
    </div>
    <div class="gerry container gerry-1 clearfix">
      <img class="gerry gerry-2" src="images/uncle_gerry.jpg">
      <h3 class="gerry name">Gerald E&nbsp;VanStrydonck</h3>
      <div class="gerry facts clearfix">
        <h4 class="fact">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
        <h4 class="fact fact-2">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
        <h4 class="fact fact-3">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
      </div>
    </div>
    <div class="thomas container thomas-1 clearfix">
      <img class="thomas thomas-2" src="images/dad_sq.png">
      <h3 class="thomas name">Thomas VanStrydonck</h3>
      <div class="thomas facts clearfix">
        <h4 class="fact">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
        <h4 class="fact fact-5">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
        <h4 class="fact fact-6">Eleifend option congue nihil imperdiet doming id quod mazim placerat</h4>
      </div>
    </div>
  </div>