<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Merriweather:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/<%=@title%>.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title><%= @title %></title>
</head>
<body class="body clearfix">
  <%= yield %>
</body>
</html>
