<div class="container clearfix">
  <h1 class="title">
    <a class="title-link" href="/">VanStrydonck Mediation</a></h1>
  <div class="sidebar clearfix">
    <h3 class="bio nav-link">
      <a class="about-link" href="/about">About Us</a>
    </h3>
    <h3 class="services nav-link">
      <a class="services-link" href="/services">Services</a>
    </h3>
    <h3 class="rates nav-link">
      <a class="rates-link active" href="/rates">Rates</a>
    </h3>
    <h3 class="contact nav-link">
      <a class="contact-link" href="/contact">Contact</a>
    </h3>
  </div>
</div>
<div class="rates-container clearfix">
  <div class="page-title page-title-1 clearfix">
    <h2 class="page-title">Rates</h2>
  </div>
  <div class="rate-container rate-container-1 clearfix">
    <h4 class="rate one-hour">1 hour - $1MM</h4>
    <div class="element element-1"></div>
    <div class="element element-2"></div>
  </div>
  <div class="rate-container rate-container-2 clearfix">
    <h4 class="rate five-hours">5 hours - $4MM</h4>
  </div>
  <div class="rate-container rate-container-3 clearfix">
    <h4 class="rate twenty-hours">20 hours - $15MM</h4>
    <div class="element element-3"></div>
    <div class="element element-4"></div>
  </div>
</div>