<div class="container clearfix">
  <h1 class="title">
    <a class="title-link" href="/">VanStrydonck Mediation</a></h1>
  <div class="sidebar clearfix">
    <h3 class="bio nav-link">
      <a class="about-link" href="/about">About Us</a>
    </h3>
    <h3 class="services nav-link">
      <a class="services-link active" href="/services">Services</a>
    </h3>
    <h3 class="rates nav-link">
      <a class="rates-link" href="/rates">Rates</a>
    </h3>
    <h3 class="contact nav-link">
      <a class="contact-link" href="/contact">Contact</a>
    </h3>
  </div>

<div class="services-container clearfix">
  <div class="page-title page-title-1 clearfix">
    <h2 class="page-title">Services Offered</h2>
  </div>
  <div class="service-container service-container-1 clearfix">
    <h4 class="service service-1">Eleifend option congue</h4>
    <div class="element element-1"></div>
    <div class="element element-2"></div>
  </div>
  <div class="service-container service-container-2 clearfix">
    <h4 class="service">Eleifend option congue nihil</h4>
  </div>
  <div class="service-container service-container-3 clearfix">
    <h4 class="service service-3">Eleifend option congue nihil imperdiet</h4>
    <div class="element element-3"></div>
    <div class="element element-4"></div>
  </div>
  <div class="service-container service-container-4 clearfix">
    <h4 class="service">Eleifend option congue nihil</h4>
    <div class="container"></div>
  </div>
  <div class="service-container service-container-5 clearfix">
    <div class="element element-5"></div>
    <h4 class="service service-5">Eleifend option congue nihil</h4>
    <div class="element element-6"></div>
  </div>
</div>
</div>