body {
  background-color: rgb(255, 255, 255);
  font: 400 0.75em/1.38 Merriweather;
  color: rgb(0,0,0);
}

.bio {
  font-weight: 400;
}

.bio-container {
  left: 200px;
  width: 681px;
}

.contact,
.services,
.sidebar .rates {
  float: left;
  clear: both;
  width: 100%;
  min-height: 64px;
  margin-top: 15px;
  text-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
  font-size: 2em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  top: -30px;
  left: 14px;
  z-index: 23;
  width: 886px;
  height: 842px;
}

.dad .factoids {
  z-index: 12;
  height: 112px;
}

.dad .image {
  top: 0;
  left: -1px;
  z-index: 14;
  width: 160px;
}

.dad .name {
  z-index: 13;
  width: 187px;
  height: 37px;
}

.divider {
  position: absolute;
  top: 446px;
  left: 275px;
  z-index: 8;
  width: 535px;
  height: 6px;
  border-bottom: 3px dashed rgba(122, 136, 207, 0.41);
  background-color: rgb(255, 255, 255);
}

.factoid {
  float: left;
  width: 99.9999999999%;
  min-height: 53px;
  padding-left: 10px;
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.factoids {
  position: absolute;
  top: 193px;
  left: -3px;
  width: 173px;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.name {
  position: absolute;
  top: 156px;
  left: -17px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 2.75;
  text-align: center;
  color: rgb(0,0,0);
}

.sidebar {
  float: left;
  clear: both;
  width: 128px;
  height: 761px;
  margin-left: 25px;
  padding-left: 7px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(134, 114, 9, 0.41);
}

.sidebar .bio {
  float: left;
  width: 100%;
  min-height: 64px;
  margin-top: 60px;
  text-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.small-sidebar {
  left: 203px;
  width: 218px;
  height: 367px;
}

.title {
  float: left;
  width: 843px;
  height: 83px;
  min-height: 83px;
  margin: 30px 0 0 25px;
  padding-top: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(33, 43, 93, 0.41);
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  line-height: 1.8;
  text-align: center;
  color: rgb(255, 255, 255);
}

.dad,
.uncle-gerry {
  position: absolute;
}

.uncle-gerry .factoids {
  z-index: 3;
  height: 175px;
}

.uncle-gerry .name {
  z-index: 4;
  width: 192px;
  height: 33px;
}

.dad-4 p,
.uncle-gerry-3 p {
  margin-bottom: 1em;
}

._image {
  float: left;
  width: 158px;
  margin-top: -2px;
}

.dad-1 {
  top: 91px;
  z-index: 16;
  height: 381px;
}

.dad-2 {
  top: 108px;
  z-index: 15;
}

.dad-4 {
  top: 127px;
  left: 421px;
  z-index: 9;
  width: 460px;
  height: 317px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.factoid-1,
.factoid-3 {
  border-bottom: 1px dotted rgb(0, 0, 0);
}

.factoid-2,
.factoid-4 {
  clear: both;
  margin-top: 6px;
}

.uncle-gerry-1 {
  top: 472px;
  z-index: 7;
  height: 372px;
}

.uncle-gerry-2 {
  top: 482px;
  z-index: 6;
}

.uncle-gerry-3 {
  top: 474px;
  left: 421px;
  width: 460px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0,0,0);
}