body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Merriweather;
  color: rgb(0,0,0);
}

.bio {
  float: left;
  width: 100%;
  min-height: 64px;
  margin-top: 60px;
  text-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
  font-size: 1.5em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.contact,
.rates,
.services {
  float: left;
  clear: both;
  width: 100%;
  min-height: 64px;
  margin-top: 15px;
  text-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.container .container {
  position: absolute;
  top: 179px;
  width: 257px;
  height: 485px;
}

.fact {
  float: left;
  width: 100%;
  min-height: 77px;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.facts {
  float: left;
  clear: both;
  width: 100%;
  height: 256px;
}

.gerry .name {
  width: 230px;
  margin: 8px 0 0 -7px;
}

.name {
  float: left;
  clear: both;
  min-height: 41px;
  font-style: italic;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0,0,0);
}

.sidebar {
  float: left;
  clear: both;
  width: 128px;
  height: 596px;
  margin-left: 25px;
  padding-left: 7px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(134, 114, 9, 0.41);
}

.thomas .name {
  width: 210px;
  margin: 11px 0 0 3px;
}

.title {
  float: left;
  width: 843px;
  height: 83px;
  min-height: 83px;
  margin: 30px 0 0 25px;
  padding-top: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(33, 43, 93, 0.41);
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 2.25em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._container {
  position: relative;
  float: left;
  width: 73.8333333333%;
  height: 737px;
  margin: -30px 0 0 1.1666666666%;
}

.fact-2,
.fact-5 {
  clear: both;
  margin-top: 10px;
}

.fact-3,
.fact-6 {
  clear: both;
  margin-top: 15px;
}

.gerry-1 {
  left: 575px;
  z-index: 6;
}

.gerry-2 {
  display: block;
  float: left;
  width: 180px;
  height: auto;
  margin-left: 17px;
  overflow: hidden;
}

.thomas-1 {
  left: 216px;
  z-index: 13;
}

.thomas-2 {
  display: block;
  float: left;
  width: 180px;
  height: auto;
  margin-left: 20px;
  overflow: hidden;
}