body {
  background-color: rgb(255, 255, 255);
  font: 400 1.25em/4 Merriweather;
  color: rgba(0, 0, 0, 0.79);
}

.bio {
  float: left;
  width: 100%;
  min-height: 64px;
  margin-top: 60px;
  text-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.contact,
.rates,
.services {
  float: left;
  clear: both;
  width: 100%;
  min-height: 64px;
  margin-top: 15px;
  text-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.page-title .page-title {
  float: left;
  width: 715px;
  height: 98px;
  min-height: 41px;
  padding-top: 3px;
  background-color: rgba(255, 255, 255, 0.62);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 1.75em;
  font-weight: 400;
  line-height: 3.5;
  text-align: center;
  text-decoration: underline;
  color: rgba(33, 43, 93, 0.79);
  position: absolute;
  top: -22px;
}

.service {
  float: left;
  width: 715px;
  height: 86px;
  min-height: 41px;
  padding-top: 3px;
  padding-left: 185px;
  background-color: rgba(255, 255, 255, 0.62);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 1em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.79);
}

.service-container {
  position: absolute;
  left: 6px;
  width: 100%;
  height: 86px;
}

.service-container .container {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 86px;
}

.services-container {
  position: absolute;
  top: 83px;
  left: 167px;
  z-index: 19;
  width: 59.5833333333%;
  height: 525px;
}

.sidebar {
  position: absolute;
  top: 131px;
  left: 25px;
  z-index: 24;
  width: 128px;
  height: 596px;
  padding-left: 7px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(134, 114, 9, 0.41);
}

.title {
  float: left;
  width: 843px;
  height: 83px;
  min-height: 83px;
  margin: 30px 0 0 25px;
  padding-top: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(33, 43, 93, 0.41);
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
  line-height: 1.8;
  text-align: center;
  color: rgb(255, 255, 255);
}

._container {
  position: absolute;
  top: -30px;
  left: 14px;
  z-index: 26;
  width: 73.8333333333%;
  height: 737px;
}

.element-1 {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 14;
  width: 352px;
  height: 85px;
  background: rgba(134, 114, 9, 0.23);
  background: -webkit-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:    -moz-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:      -o-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:     -ms-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:         linear-gradient(450deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
}

.element-2 {
  position: absolute;
  float: left;
  clear: both;
  z-index: 13;
  width: 367px;
  height: 85px;
  top: 32px;
  left: 352px;
  background: rgb(248, 255, 137);
  background: -webkit-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:         linear-gradient(450deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
}

.element-3 {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 8;
  width: 352px;
  height: 85px;
  background: rgba(134, 114, 9, 0.23);
  background: -webkit-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:    -moz-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:      -o-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:     -ms-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:         linear-gradient(450deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
}

.element-4 {
  position: absolute;
  float: left;
  clear: both;
  z-index: 7;
  width: 367px;
  height: 85px;
  top: 32px;
  left: 351px;
  background: rgb(248, 255, 137);
  background: -webkit-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:         linear-gradient(450deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
}

.element-5 {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1;
  width: 352px;
  height: 85px;
  background: rgba(134, 114, 9, 0.23);
  background: -webkit-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:    -moz-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:      -o-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:     -ms-linear-gradient(0deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
  background:         linear-gradient(450deg, rgba(134, 114, 9, 0.23) 0%, rgba(246, 255, 89, 0.74) 100%) rgba(205, 197, 154, 0);
}

.element-6 {
  position: absolute;
  float: left;
  clear: both;
  z-index: 0;
  width: 367px;
  height: 85px;
  top: 32px;
  left: 351px;
  background: rgb(248, 255, 137);
  background: -webkit-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(0deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
  background:         linear-gradient(450deg, rgb(248, 255, 137) 0%, rgb(0, 0, 0) -0.11904761904761905%, rgb(247, 255, 129) -0.11904761904761905%, rgb(255, 255, 255) 100%) rgb(222, 222, 222);
}

.page-title-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
  width: 100%;
  height: 100px;
}

.service-1 {
  position: relative;
  z-index: 15;
}

.service-3 {
  position: relative;
  z-index: 9;
}

.service-5 {
  position: relative;
  z-index: 2;
}

.service-container-1 {
  top: 98px;
  z-index: 16;
}

.service-container-2 {
  top: 184px;
  z-index: 12;
}

.service-container-3 {
  top: 270px;
  z-index: 10;
}

.service-container-4 {
  top: 356px;
  z-index: 6;
}

.service-container-5 {
  top: 442px;
  z-index: 3;
}